<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <nav>
            <div class="site-title">
                <a href="/">
                    <h1>Dev Blog</h1>
                </a>
                <p>A dev blog site</p>
            </div>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>
        <div class="blog content">
            <h2>About us</h2>
            <p>
                Hello there, its me Devdatt.
                <br> This is my personal blog site where i upload details about coding and web developement journey.
            </p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>