<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <nav>
            <div class="site-title">
                <a href="/">
                    <h1>Dev Blog</h1>
                </a>
                <p>A dev blog site</p>
            </div>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>
        <div class="blog content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt natus corrupti cupiditate. Voluptatem, cupiditate dolorem. Sed, soluta odit a omnis magnam quisquam voluptatibus aspernatur, est sunt quibusdam quam temporibus magni!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam explicabo illum aliquid tempora obcaecati dolore quod eveniet, quam beatae placeat necessitatibus facilis expedita cum iure pariatur aperiam tenetur voluptas quisquam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae autem aut reprehenderit cumque, repudiandae debitis ratione maxime voluptas aperiam harum nemo ullam obcaecati itaque earum alias. Ducimus libero quasi natus!</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>